<style type="text/css">
h2 {
	margin-left: 200px;
}
md-list-item {
	height: 48px;
}
h1{
	text-align: center;

}
h3{
	text-align: center;

}
h4{
		text-align: center;


}
.Gekauft{


}
p {
	text-align: right;

}
</style>





<h1>QR-Kassenbon</h1> 
<h3>
Filiale: Lidl Basterstr. 999 14399 Dresden</h3>	  	
<h4>Gekauft am:14.7.2016</h4>

<h1 class:"Gekauft">Gekauft:</h1>

  <md-list-item class="secondary-button-padding">
    <h2>3 x Rack Grany Apfel</h2>
    <md-button class="md-secondary" ng-click="doSecondaryAction($event)">2,99$</md-button>
  </md-list-item>
  <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
    <h2>3 x Pipa Birne</h2>
    <md-button class="md-secondary" ng-click="doSecondaryAction($event)">2,99$</md-button>
  </md-list-item>
    <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
  <h2>1 x Minda Wurst</h2>
    <md-button class="md-secondary" ng-click="doSecondaryAction($event)">2,48$</md-button>
  </md-list-item>
    <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
  <h2>6 x Bano Banane</h2>
    <md-button class="md-secondary" ng-click="doSecondaryAction($event)">4,59$</md-button>
  </md-list-item>
      <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
  <h2>3 x Magnum Vanille Eis </h2>
    <md-button class="md-secondary" ng-click="doSecondaryAction($event)">2,99$</md-button>
  </md-list-item>
      <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
      <hr>
 <h2 class:"Gesamt">Gesamt:</h2>
 <p>9999,99$</p>